<div class="main top-main">
  <div class="top-message">
    <h2>本で、世界は広がる</h2>
    <p>BookStackは、読んだ本の内容をできるだけ気軽にアウトプットしたい人にピッタリなアプリです。</p>
  </div>
  <div class="lessons">
    <div class="lesson">
      <div class="lesson-icon">
         <img class="top-icon" src="/メモ帳のフリーアイコン素材.png">
      </div>
        <h1 class="text-heading">読んだ本を記録</h1>
        <p class="text-contents">今まで読んできた本の内容を記録として残しておくことができます。</p>
    </div>
    <div class="lesson">
      <div class="lesson-icon">
          <img class="top-icon" src="/本の無料アイコン素材.png">
      </div>
        <h1 class="text-heading">読書後の要約</h1>
        <p class="text-contents">本は読み終わったら終わりではありません。忘れないうちに短く要約することで、記憶に定着させましょう。</p>
    </div>
    <div class="lesson">
      <div class="lesson-icon">
          <img class="top-icon" src="/本棚アイコン.png">
      </div>
        <h1 class="text-heading">他の人の要約も</h1>
        <p class="text-contents">気になる本も、最近話題のあの本も、他の人の要約でチラ見しておこう。</p>
    </div>
  </div>
 
</div>